body {
    font-family: Arial, sans-serif;
    background-color: beige;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

#logo {
    width: 100px;
    height: auto;
    margin-left: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#logo:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h2 {
    margin-top: 0;
    font-size: 1.8em;
    color: #444;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    text-align: left;
}

.reflection-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.reflection-container h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.reflection-container p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #007BFF;
    left: 0;
    bottom: -3px;
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 590px) {
    header, nav, main, footer {
        text-align: center;
        width: 100%;
        flex-direction: column;
    }

    nav ul {
        display: block;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
    
    .reflection-container {
        padding: 15px;
    }
}

@media (min-width: 591px) and (max-width: 790px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
    }

    nav ul {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

@media (min-width: 791px) {
    body {
        background-color: beige;
    }

    .container {
        max-width: 790px;
        margin: 0 auto;
        background-color: beige;
        padding: 20px;
    }
}